@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno Eduardo @ViewData["Aluno"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/Duduvip44">github.com/Duduvip44</a>
</address>