@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua álvaro Obregon<br />
    Capão Redondo, WA 96016-7616<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:essousa7@gmail.com">essousa7@gmail.com</a><br />
    
</address>
